<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<% if current_user %>
	<div class="container">
	  <h2>My Status</h2>
	  <%= current_user.status %>
	  <form role="form">
	    <label class="radio-inline">
	      <%= radio_button_tag 'status', 'online', current_user.status == 'online', class: 'rdo'  %> ONLINE
	      <!-- <input class="rdo" type="radio" name="optradio" value='online' checked=<%= current_user.status == 'online' ? true : false %>>ONLINE -->
	    </label>
	    <label class="radio-inline">
	    	<%= radio_button_tag 'status', 'ofline', current_user.status == 'ofline', class: 'rdo'  %> OFFLINE
	    </label>
	    <label class="radio-inline">
	      <%= radio_button_tag 'status', 'away', current_user.status == 'away', class: 'rdo'  %> AWAY
	    </label>
	  </form>
	</div>
<% end %>